<div class="example-container">
    <h2>Students</h2>
    <div
      cdkDropList
      #studentsList="cdkDropList"
      [cdkDropListData]="students"
      [cdkDropListConnectedTo]="[students2List]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let student of students" cdkDrag>{{student.name}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Students 2</h2>
    <div
      cdkDropList
      #students2List="cdkDropList"
      [cdkDropListData]="students2"
      [cdkDropListConnectedTo]="[studentsList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let student2 of students2" cdkDrag>{{student2.name}}</div>
    </div>
  </div>
  -------------------------------------------------------------------
  <form [formGroup]="myForm">
    <input formControlName="title" />
    <div cdkDropList class="example-list" (cdkDropListDropped)="dropSecond($event)">
      <div [id]="i" class="example-box" *ngFor="let item of myForm.get('items').controls; let i=index;" cdkDrag #elem="cdkDrag" (mouseenter)="enter(i)">
        <span cdkDragHandle>drag</span>
        <div [formGroup]="item">
        <input type="text" formControlName="name">
        <select formControlName="note">
          <option [hidden]="elem.moved">{{activeNote}}</option>
          <option>foo</option>
          <option>bar</option>
          <option>baz</option>
          <option>quux</option>
          </select>
        </div>
      </div>
    </div>
    {{ myForm.value | json}}
  </form>