<div class="row">
  <div class="col-sm-2" style="border-right:1px solid gray;height:650px;">
    Toolbox
    <div style="border:1px solid gray;height:600px;">
      <ul>
        <li *ngFor="let item of elements" draggable [dragClass]="'drag-over'" [dragData]="item">        
          {{item.name}}
        </li>
      </ul> 
    </div>
  </div>
  <div class="col-sm-8" style="border-right:1px solid gray;height:650px;">
    HTML
    <div class="card card-outline-primary mb-3" droppable (dragover)="allowDrop($event)" [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'"
            (onDrop)="onElementDrop($event)" style="border:1px solid gray;height:600px;">
      <p>Drop items here</p>
      <div>
          <div #div></div>
      </div>
    </div>
  </div>
  <div class="col-sm-2" style="border-right:1px solid gray;height:650px;">
    Properties
    <div style="border:1px solid gray;height:600px;">
      <table>
          <tr>
              <td>
                <label for="size">Id:</label>
              </td>
              <td>
                <input type="text" id="elementId" name="elementId" [(ngModel)]="elementId" style="width:130px;">
              </td>
            </tr>
        <tr>
          <td>
            <label for="size">Size:</label>
          </td>
          <td>
            <input type="text" id="size" name="size" [(ngModel)]="size" (keyup)="onPropertyChange($event,'size')" style="width:130px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Value:</label>
          </td>
          <td>
            <input type="text" id="elementValue" name="elementValue" [(ngModel)]="elementValue" (keyup)="onPropertyChange($event,'value')" style="width:130px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Text:</label>
          </td>
          <td>
            <input type="text" id="elementText" name="elementText" [(ngModel)]="elementText" (keyup)="onPropertyChange($event,'text')" style="width:130px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Width:</label>
          </td>
          <td>
            <input type="text" id="elementWidth" name="elementWidth" [(ngModel)]="elementWidth" (keyup)="onPropertyChange($event,'width')" style="width:130px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Height:</label>
          </td>
          <td>
            <input type="text" id="elementHeight" name="elementHeight" [(ngModel)]="elementHeight" (keyup)="onPropertyChange($event,'height')" style="width:130px;">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>