<div class="row">
  <div class="col-sm-2" style="border-right:1px solid gray;height:650px;">
    Toolbox
    <div style="border:1px solid gray;height:600px;">
      <ul>
          <!-- draggable [dragData]="item" -->
          <!-- cdkDrag -->
          <!-- [dndDraggable]="item" -->
        <li *ngFor="let item of elements" draggable [dndDraggable]="item">        
          {{item.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-8" style="border-right:1px solid gray;height:650px;">
    HTML
    <!-- droppable (onDrop)="onElementDrop($event)" -->
    <!-- cdkDropList (cdkDropListDropped)="drop($event)" -->
    <!-- dndDropzone (dndDrop)="onElementDrop($event)" (dndDragover)="onDragover($event)" -->
    <div #replaceChildElement>
      <div #mainDroppableDiv style="border:1px solid gray;height:600px;"
      dndDropzone (dndDrop)="onElementDrop($event)">
        <!-- <div _ngcontent-c1="" dndDraggable="abc" class="border-div" (dndEnd)="onDragEnd($event)">
          <input _ngcontent-c1="" id="txt1" readonly="true" style="width: 150px;">
        </div> -->
        <!-- <form [formGroup]="myForm">
            <div cdkDropList (cdkDropListDropped)="dropStatic($event)">
                <div [id]="i" *ngFor="let item of myForm.get('items').controls; let i=index;" cdkDrag #elem="cdkDrag">
                    <div [formGroup]="item">
                        <ng-container *ngIf="item.value.name == 1">
                            <input type="text">
                        </ng-container>                      
                        <ng-container *ngIf="item.value.name == 2">
                            <h1>Header</h1>
                        </ng-container>                       
                        <ng-container *ngIf="item.value.name == '3'">
                            <a href="">link</a>
                        </ng-container> 
                    </div>
                </div>
            </div>
        </form>         -->
    </div>    
  </div>
  </div>
  <div class="col-sm-2" style="border-right:1px solid gray;height:650px;">
    Properties - {{item}}
    <div style="border:1px solid gray;height:600px;">
      <table>
          <tr>
            <td>
              <label for="size">Id:</label>
            </td>
            <td>
              <input type="text" id="elementId" name="elementId" [(ngModel)]="elementId" readonly="true" style="width:100px;">
            </td>
          </tr>
        <tr *ngIf="size">
          <td>
            <label for="size">Size:</label>
          </td>
          <td>
            <input type="text" id="size" name="size" [(ngModel)]="size" (keyup)="onPropertyChange($event,'size',1)" style="width:100px;">
          </td>
        </tr>
        <tr *ngIf="displayPlaceholder">
          <td>
            <label for="placeholder">Placeholder:</label>
          </td>
          <td>
            <input type="text" id="placeholder" name="placeholder" [(ngModel)]="placeholder" (keyup)="onPropertyChange($event,'placeholder',1)" style="width:100px;">
          </td>
        </tr>
        <tr *ngIf="displayElementValue">
          <td>
            <label for="size">Value:</label>
          </td>
          <td>
            <input type="text" id="elementValue" name="elementValue" [(ngModel)]="elementValue" (keyup)="onPropertyChange($event,'value',1)" style="width:100px;">
          </td>
        </tr>
        <tr *ngIf="displayElementText">
          <td>
            <label for="size">Text:</label>
          </td>
          <td>
            <input type="text" id="elementText" name="elementText" [(ngModel)]="elementText" (keyup)="onPropertyChange($event,'text',1)" style="width:100px;">
          </td>
        </tr>
        <tr *ngIf="displaySrc">
          <td>
            <label for="size">Src:</label>
          </td>
          <td>
            <input type="text" id="src" name="src" [(ngModel)]="src" (keyup)="onPropertyChange($event,'href',1)" style="width:100px;">
          </td>
        </tr>
        <tr>
          <td colspan="2"><br/>--------  Set Style  -------</td>
        </tr>
        <tr>
          <td>
            <label for="size">Width:</label>
          </td>
          <td>
            <input type="text" id="elementWidth" name="elementWidth" [(ngModel)]="elementWidth" (keyup)="onPropertyChange($event,'width',1)" style="width:100px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Height:</label>
          </td>
          <td>
            <input type="text" id="elementHeight" name="elementHeight" [(ngModel)]="elementHeight" (keyup)="onPropertyChange($event,'height',1)" style="width:100px;">
          </td>
        </tr>
        <tr>
          <td>
            <label for="size">Div Width:</label>
          </td>
          <td>
            <input type="text" id="divWidth" name="divWidth" [(ngModel)]="divWidth" (keyup)="onPropertyChange($event,'width',2)" style="width:100px;">
          </td>
        </tr>
        <tr *ngIf="itemSelected">
          <td>
            <label for="size">Div Align:</label>
          </td>
          <td>
            <select [(ngModel)]="selectedAlignValue" (change)="alignValueChange($event)"  style="width:100px;">
              <option *ngFor="let v of alignValues" [value]="v.id">  
                {{v.name}}
              </option>
            </select>
          </td>
        </tr>
        <tr *ngIf="displayTableColums">
          <td>
            <label for="size">Table Column:</label>
          </td>
          <td>
            <input type="text" id="tableColumn" name="tableColumn" [(ngModel)]="tableColumn" (keyup)="onPropertyChange($event,'column',1)" style="width:100px;">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>